@media (max-width:1600px) {

    .container-content {
        height: 500px;
    }

}

@media (max-width:1500px) {
    .heading-contact {
        margin-bottom: 60px !important;
        margin-top: 90px;
    }

    .img-home {
        width: 600px;
    }



    .content-about {
        width: 100%;
    }


}

@media (max-width:1200px) {

    .container-content {
        height: 100%;
        width: 100%;
        
    }
    
    .form-origin {
        width: 100%;
        height: 100%;
    }

    .img-home {
        width: 500px;
    }


    .img-client {
        width: 100px;
        height: auto;

        position: absolute;
        left: -20px;
        top: -40px;




    }


    .client-name {
        height: 50px;
        width: 150px;
        left: 50%;
        transform: translate(-50%);
        position: relative;
    
        
    }

    .content-about {
        width: 110%;
    }

    .heading-product {
        margin-top: 200px;
    }

    .testimonial {
        margin-top: 390px;
        margin-bottom: 200px;
    }

    .heading-contact {
        margin-top: 170px;
    }

    .contact-form {
        margin-bottom: 100px;
    }


}

@media (max-width:1100px) {

    .btn-next {
        position: relative;
        top: 105% !important;
        left: 45% !important;
    }

    .btn-prev {
        position: relative;
        top: 105% !important;
        left: 40% !important;
    }

    .carousel-control-prev {
        width: 1px;

    }

    .carousel-control-next {
        width: 1px;

    }

}

@media (max-width:992px) {

    .navbar {
        background-color: white;
    }

    .nav-item .nav-link {
        color: black;
        font-size: 17px;
        font-weight: 600;
    }

    .logo {
        color: black !important;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 8px 0px;
    }

    .img-home {
        width: 350px;
        margin-right: 0px;
    }

    .home-heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 74px;
    }

    .box-container2 {
        padding-left: 90px;
    }

    .img-about {
        height: 80%;
        width: 100%;
        position: static;
        top: 0px;
        right: 0px;
    }

    .about-us-container {
        height: 100vh !important;
    }

    .about-us {
        margin-top: 0px;
    }

    .product-category {
        width: 100%;
        height: auto;
    }

    .heading-product {
        margin-top: 95px;
        margin-bottom: 80px;
    }

    .container-content {
        width: 110%;
        height: 80%;
        margin-bottom: 100px;
    }

    .testimonial {
        width: 100%;
        height: auto;
        margin-bottom: -100px;
        margin-top: 100px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -38px !important;
    }

    .form-origin {
        width: 100%;
        height: auto;
    }

    .content-contact {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 26px 10px;
    }

    footer {
        display: none;
    }

    .card-product {
        margin-bottom: 24px;
    }

    .content-contact {
        display: none;
        
    }

    .content-about {
        width: 500px;
    }

    .contact-form {
        margin-bottom: 150px;
        margin-top: -350px;
    }

    .knightro {
        display: none;
    }
}

@media (max-width:768px) {
    .content-home2 {
        height: auto;
    }

    .box-container {
        display: flex;
        justify-content: center;
    }

    .img-home {
        width: 500px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .about-us {
        margin-top: 140px;
        height: 80vh;
    }

    .about-us-container {
        padding-top: 15rem !important;
        margin-bottom: 140px !important;
        height: auto;
    }

    .home-heading {
        font-size: 46px;
        line-height: 82px;
        text-align: center;
    }

    .box-container2 {
        padding-left: 0px;
    }

    .para-home {
        text-align: center;
        max-width: 100%;
    }

    .box-container {
        padding-left: 0px;
    }

    .btn-home {
        text-align: center;
    }

    .content-about {
        padding: 10px 20px;
    }

    .img-about {
        height: 100%;
    }

    .heading-product {
        margin-top: 470px;
        margin-bottom: 60px;
    }



    .btn-scroll {
        display: none;
    }

    .container-content {
        width: 120%;
        height: 88%;
        margin-bottom: 100px;
        left: 50%;
        transform: translate(-50%);
    }

    .image-clients {
        width: 100px;
        height: 100px;
    
        position: absolute;
        top: 10px;
        left: -10px;
    
    }

    .heading-testimonial {
        font-size: 34px;
        line-height: 60px;
    }

    .para-testimonal {
        font-size: 14px;
        letter-spacing: 0px;
        max-width: 600px !important;
    }

    .contact-form {
        margin-top: 250px;
    }

    .content-about img {
        margin-bottom: 50px;
        width: 45px;
    }

    .img-client {
        width: 40%;
        height: auto;
    }

    .testimonial {
        margin-bottom: -200px;
    }

    .snake {
        object-position: center ;
    
    }
}

@media (max-width:767px) {
    .btn-next {
        position: relative;
        top: 100% !important;
        left: 55% !important;
    }

    .btn-prev {
        position: relative;
        top: 100% !important;
        left: 30% !important;
    }

    .carousel-control-prev {
        width: 1px;

    }

    .carousel-control-next {
        width: 1px;

    }


}

@media (max-width:576px) {
    .img-home {
        width: 340px;
        margin-top: 50px;
        margin-right: 0px;
        
    }

    .home-heading {
        font-size: 32px;
        line-height: 52px;
    }

    .about-us-container {
        margin-top: -350px !important;
    }

    .heading-product {
        font-size: 25px;
        margin-top: 50%
    }

    .heading-testimonial {
        font-size: 30px;
        line-height: 50px;
    }




    .client-name {
        font-size: 18px;
    }

    .container-content {
        width: 139%;
        margin-bottom: 70px;
        padding: 20px;
        left: 50%;
        transform: translate(-50%);
    }



    .para-client {
        font-size: 13px;
        line-height: 21px;
    }

    .container-clients {
        align-items: center;
    }

    .content-about {
        width: 100%;

    }

    .content-about img {
       margin-right: 40px;
       margin-bottom: 30px;
        
    }

    .image-clients {
        width: 90px;
        height: auto;
        

    }

    .content-home {
        position: relative;
        left: 50%;
        transform: translate(-47%);
    }

    .testimonial {
        margin-bottom: 90px;
        margin-top: 0px;
    }






}

@media (max-width:450px) { 
    .container-content {
        width: 210%;
    }

    .image-clients {
        width: 60px;
        top: 50px;
        left: 30px;
    
    }

    .about-us {
        height: 130%;
    }






}

@media (max-width:420px) { 

    .image-clients {
        width: 50px;
        top: 50px;
        left: 30px;
    
    }

    .container-content {
        width: 230%;
    }


}


@media (max-width:410px) { 

    .image-clients {
        width: 40px;
        top: 50px;
        left: 30px;
    
    }

    .container-content {
        width: 240%;
    }


}