@media (max-width:1600px) {

    .container-content {
        height: 500px;
    }

}

@media (max-width:1500px) {
    .heading-contact {
        margin-bottom: 60px !important;
        margin-top: 90px;
    }

    .img-home {
        width: 600px;
    }

    .container-content {
        width: 400px;
    }

    .content-about {
        width: 100%;
    }


}

@media (max-width:1200px) {
    
    .form-origin {
        width: 100%;
        height: 100%;
    }

    .img-home {
        width: 500px;
    }

    .container-content {
        width: 300px;
        height: 600px;
    
    }

    .client-name {
        height: 50px;
        width: 150px;
        left: 50%;
        transform: translate(-50%);
        position: relative;
    
        
    }

    .content-about {
        width: 110%;
    }


}

@media (max-width:992px) {
    .navbar {
        background-color: white;
    }

    .nav-item .nav-link {
        color: black;
        font-size: 17px;
        font-weight: 600;
    }

    .logo {
        color: black !important;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 8px 0px;
    }

    .img-home {
        width: 350px;
        margin-right: 0px;
    }

    .home-heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 74px;
    }

    .box-container2 {
        padding-left: 90px;
    }

    .img-about {
        height: 80%;
        width: 100%;
        position: static;
        top: 0px;
        right: 0px;
    }

    .about-us-container {
        height: 100vh !important;
    }

    .about-us {
        margin-top: 0px;
    }

    .product-category {
        width: 100%;
        height: auto;
    }

    .heading-product {
        margin-top: 95px;
        margin-bottom: 80px;
    }

    .container-content {
        width: 90%;
        height: 80%;
        margin-bottom: 100px;
    }

    .testimonial {
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -38px !important;
    }

    .form-origin {
        width: 100%;
        height: auto;
    }

    .content-contact {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 26px 10px;
    }

    footer {
        display: none;
    }

    .card-product {
        margin-bottom: 24px;
    }

    .content-contact {
        display: none;
        
    }

    .content-about {
        width: 500px;
    }
}

@media (max-width:768px) {
    .content-home2 {
        height: auto;
    }

    .box-container {
        display: flex;
        justify-content: center;
    }

    .img-home {
        width: 500px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .about-us {
        margin-top: 140px;
        height: 80vh;
    }

    .about-us-container {
        padding-top: 15rem !important;
        margin-bottom: 140px !important;
        height: auto;
    }

    .home-heading {
        font-size: 46px;
        line-height: 82px;
        text-align: center;
    }

    .box-container2 {
        padding-left: 0px;
    }

    .para-home {
        text-align: center;
        max-width: 100%;
    }

    .box-container {
        padding-left: 0px;
    }

    .btn-home {
        text-align: center;
    }

    .content-about {
        padding: 10px 20px;
    }

    .img-about {
        height: 100%;
    }

    .heading-product {
        margin-top: 400px;
        margin-bottom: 60px;
    }

    .img-card {
        height: 290px !important;
    }

    .btn-scroll {
        display: none;
    }

    .container-content {
        width: 120%;
        height: 88%;
        margin-bottom: 100px;
        left: 50%;
        transform: translate(-50%);
    }

    .image-clients {
        width: 120px;
        height: 120px;
    
        position: absolute;
        top: 10px;
        left: 30px;
    
    }

    .heading-testimonial {
        font-size: 34px;
        line-height: 60px;
    }

    .para-testimonal {
        font-size: 14px;
        letter-spacing: 0px;
        max-width: 600px !important;
    }

    .contact-form {
        margin-top: 250px;
    }

    .content-about img {
        margin-bottom: 95px;
        width: 45px;
    }

    .content-about {
        padding-bottom: 0px;
    }

    .img-client {
        width: 40%;
        height: auto;
    }
}

@media (max-width:576px) {
    .img-home {
        width: 340px;
        margin-top: 50px;
        margin-right: 0px;
        
    }

    .home-heading {
        font-size: 32px;
        line-height: 52px;
    }

    .about-us-container {
        margin-top: -350px !important;
    }

    .heading-product {
        font-size: 25px;
        margin-top: 70%
    }

    .heading-testimonial {
        font-size: 30px;
        line-height: 50px;
    }




    .client-name {
        font-size: 18px;
    }

    .container-content {
        width: 130%;
        margin-bottom: 70px;
        padding: 20px;
        left: 50%;
        transform: translate(-50%);
    }



    .para-client {
        font-size: 13px;
        line-height: 21px;
    }

    .container-clients {
        align-items: center;
    }

    .content-about {
        width: 100%;

    }

    .content-about img {
       margin-right: 40px;
       margin-bottom: 60px;
        
    }

    .image-clients {
        width: 70%;
        height: auto;
        

    }

}

@media (max-width:450px) { 
    .container-content {
        width: 175%;
    }

    .image-clients {
        width: 90px;
        top: 10px;
        left: 20px;
    
    }




}

@media (max-width:420px) { 

    .image-clients {
        width: 80px;
    
        position: absolute;
        top: 30px;
        left: 65px;
    
    }

}