html, body {
  height: 100%; /* Ensure html and body cover the full viewport height */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
}

body {
  background-image: url('../images/back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure body covers the full viewport height */
  position: relative;

}

body::before {
  content: '';
  position: fixed; /* Change to fixed to ensure it covers the entire viewport */
  top: -15px; /* Extend beyond the viewport */
  left: -15px; /* Extend beyond the viewport */
  right: -15px; /* Extend beyond the viewport */
  bottom: -15px; /* Extend beyond the viewport */
  background-image: url('../images/back.png'); /* Directly set the background image */
  background-size: cover;
  background-position: center;
  filter: blur(4px); /* Adjust the blur intensity as needed */
  z-index: -1;
}

/* Add this new rule to your existing CSS */
.glassmorphic-square {
  width: 600px; /* Adjust the size as needed */
  height:380px; /* Adjust the size as needed */
  position: absolute; /* Position it over the background */
  top: 50%; /* Center vertically */
  left: 20%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center the element */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); /* Glassmorphic gradient */
  border-radius: 50px; /* Rounded corners */
  backdrop-filter: blur(50px); /* Blur effect for the glassmorphic look */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 0 0 15px 1px rgba(75, 75, 75, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-text {
  color: #ffffff; /* White color for the text */
  font-size: 24px; /* Adjust the size as needed */
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-weight: 500px;
  padding-left: 25px;
  padding-right: 25px;
}