html, body {
  height: 100%; /* Ensure html and body cover the full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  
}

.initial-view {
  height: 100vh;
  position: relative; /* Ensure the pseudo-element is positioned relative to this container */
  overflow: hidden; /* Prevent any overflow from the pseudo-element */
}

.initial-view::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: url('../images/back.png') no-repeat center center/cover;
  filter: blur(4px); /* Apply the blur effect here */
  z-index: -1; /* Ensure the pseudo-element is behind the content of .initial-view */
}

.blue-gradient-section {
  min-height: 100vh; /* Adjust this value as needed to ensure scrolling */
  background: linear-gradient(to bottom right, #001c36, #5f84ff);
}


/* Add this new rule to your existing CSS */
.glassmorphic-square {
  width: 800px; /* Adjust the size as needed */
  height: 500px; /* Adjust the size as needed */
  position: absolute; /* Position it over the background */
  top: 50%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -50%); /* Adjust position to truly center the element */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); /* Glassmorphic gradient */
  border-radius: 50px; /* Rounded corners */
  backdrop-filter: blur(25px); /* Blur effect for the glassmorphic look */
  -webkit-backdrop-filter: blur(50px); /* For Safari */
  box-shadow: 0 0 15px 1px rgba(75, 75, 75, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

}

.glass-text {
  color: #ffffff; /* White color for the text */
  font-size: 34px; /* Adjust the size as needed */
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-weight: 500px;
  padding-left: 25px;
  padding-right: 25px;
}

.name {
  font-size: 70px;
  font-family: "Anton SC";

}

@media (max-width: 768px) {
  .glassmorphic-square {
    width: 300px; /* Smaller width */
    height: 190px; /* Smaller height */
    position: absolute; /* Keep it positioned absolutely */
    top: 5%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal position to truly center the element */
    border-radius: 25px; /* Adjusted rounded corners for smaller size */
    backdrop-filter: blur(25px); /* Adjust blur effect for the glassmorphic look */
    -webkit-backdrop-filter: blur(25px); /* For Safari */
  }

  .glass-text {
    font-size: 12px; /* Adjust the size as needed */
    padding-right: 20px;
  }

  .name {
    font-size: 20px;

  }
}


.vertical-nav {
  position: fixed; /* Fixed position to stay in place while scrolling */
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  width: 155px; /* Adjust width as needed */
  height: ;
  padding: 20px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); /* Glassmorphic gradient */
  backdrop-filter: blur(25px);
  z-index: 1000;
  box-shadow: 0 0 15px 1px rgba(75, 75, 75, 0.5);
  border-top-right-radius: 20px; /* Rounded top right corner */
  border-bottom-right-radius: 20px; /* Rounded bottom right corner */
}

.vertical-nav ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

.vertical-nav ul li {
  padding: 10px 0; /* Add some padding for each list item */
}

.vertical-nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #ffffff; /* Dark grey color for text, adjust as needed */
  font-weight: bold;
  font-family: 'Poppins';
  display: block; /* Make the links fill the container */
  font-size: 20px;
}

.vertical-nav ul li a:hover {
  background-color: ; /* Light grey background on hover, adjust as needed */
  cursor: pointer;
}
.vertical-nav a img {
  vertical-align: middle; /* Aligns the image vertically in the middle of the line */
}

